<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.cloud.sundata.uptimeDashboard</string>
	</array>
	<!-- Decommentare dopo approvazione Apple per Critical Alerts -->
	<!-- <key>com.apple.developer.usernotifications.critical-alerts</key> -->
	<!-- <true/> -->
</dict>
</plist>
